@font-face {
    font-family: 'DM Sans 24pt';
    src: url('DMSans24pt-Light.woff2') format('woff2'),
        url('DMSans24pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 24pt';
    src: url('DMSans24pt-Bold.woff2') format('woff2'),
        url('DMSans24pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('DMSans36pt-Bold.woff2') format('woff2'),
        url('DMSans36pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Regular.woff2') format('woff2'),
        url('DMSans18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-SemiBold.woff2') format('woff2'),
        url('DMSans18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Light.woff2') format('woff2'),
        url('DMSans18pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Medium.woff2') format('woff2'),
        url('DMSans18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Black.woff2') format('woff2'),
        url('DMSans18pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Bold.woff2') format('woff2'),
        url('DMSans18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Thin.woff2') format('woff2'),
        url('DMSans18pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 24pt';
    src: url('DMSans24pt-SemiBold.woff2') format('woff2'),
        url('DMSans24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 24pt';
    src: url('DMSans24pt-ExtraLight.woff2') format('woff2'),
        url('DMSans24pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 24pt';
    src: url('DMSans24pt-Regular.woff2') format('woff2'),
        url('DMSans24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 24pt';
    src: url('DMSans24pt-Medium.woff2') format('woff2'),
        url('DMSans24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 24pt';
    src: url('DMSans24pt-ExtraBold.woff2') format('woff2'),
        url('DMSans24pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('DMSans36pt-ExtraLight.woff2') format('woff2'),
        url('DMSans36pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('DMSans36pt-SemiBold.woff2') format('woff2'),
        url('DMSans36pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Black.woff2') format('woff2'),
        url('DMSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-ExtraLight.woff2') format('woff2'),
        url('DMSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('DMSans36pt-Medium.woff2') format('woff2'),
        url('DMSans36pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('DMSans36pt-Regular.woff2') format('woff2'),
        url('DMSans36pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('DMSans36pt-Thin.woff2') format('woff2'),
        url('DMSans36pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-ExtraBold.woff2') format('woff2'),
        url('DMSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Bold.woff2') format('woff2'),
        url('DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('DMSans36pt-Light.woff2') format('woff2'),
        url('DMSans36pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Light.woff2') format('woff2'),
        url('DMSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-ExtraLightItalic.woff2') format('woff2'),
        url('DMSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Medium.woff2') format('woff2'),
        url('DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Thin.woff2') format('woff2'),
        url('DMSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-SemiBold.woff2') format('woff2'),
        url('DMSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

